<h2>Lista empleados</h2>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>NOMBRE DE LA SEDE</th>
      <th>DIRECTOR A CARGO</th>
      <th>NUMERO  DE TELEFONO CELULAR, FIJO O FAX </th>
      <th>DIRECCIÓN DE LA SEDE</th>
      <th>DEPARTAMENTO DE UBICACIÓN DE LA SEDE</th>
      <th>ACCIONES ()</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let empleado of empleados">
      <td>{{empleado.name}}</td>
      <td>{{empleado.director}}</td>
      <td>{{empleado.telephone}}</td>
      <td>{{empleado.address}}</td>
      <td>{{empleado.department}}</td>
      <td>
        <button (click)= "actualizarEmpleado(empleado.id)" class="btn btn-info">Editar</button>
        <button (click)= "eliminarEmpleado(empleado.id)" class="btn btn-danger" style="margin-left : 10px;">Eliminar</button>
        <button (click)= "verDetallesDelEmpleado(empleado.id)" class="btn btn-primary" style="margin-left : 10px;">Detalles</button>
      </td>
    </tr>
  </tbody>
</table>
